
/* LTR */
h2.styleguide {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ccc;
  margin: 2em 0 0.25em 0;
  padding: 0;
}

div.styleguide {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

#styleguide-header {
  border: 1px solid #ccc;
  padding: 0.25em 1em 0.25em 1em;
  background-color: #fafafa;
}

/* LTR */
#styleguide-header .item-list {
  float: left;
  margin: 0 2em 1em 0;
  width: 20%;
  font-family: helvetica, arial, sans-serif;
}

#styleguide-header h3 {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ccc;
}

#styleguide-header .break {
  margin-bottom: 1em;
  clear: both;
}

.styleguide-description {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  color: #aaa;
  margin: 0;
}
